<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="estdevs_erply" translate="label" sortOrder="100">
            <label>Acodesh</label>
        </tab>
        <section id="estdevs_erply" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Erply Setting</label>
            <tab>estdevs_erply</tab>
            <resource>Estdevs_Erply::Estdevs_Erply</resource>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">

                <!-- Enable or disable plugin -->
                <label>General Setting</label>
                <field id="enableerply" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                 <!-- group wise selection to hide price  -->
                  <field id="erply_customercode" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Code</label>
                </field>

                <field id="erply_username" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Name</label>
                </field>

                <field id="erply_password" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                </field>
            </group>
            <group id="erplyProductImport" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">

                <!-- Enable or disable plugin -->
                <label>Import From Erply</label>
                <field id="productslistbutton" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Estdevs\Erply\Block\System\Config\Form\Button</frontend_model>
                    <label>Click to import products</label>
                </field>
                <field id="collect_time" translate="label comment" type="hidden" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Estdevs\Erply\Block\System\Config\Time</frontend_model>
                </field>
                <field id="acodesh_customer_import" translate="label" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Estdevs\Erply\Block\System\Config\Form\CustomerButton</frontend_model>
                    <label>Click to import customers</label>
                </field>
                <field id="acodesh_customer_collect_time" translate="label comment" type="hidden" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Estdevs\Erply\Block\System\Config\Time</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
