<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="estdevs_erply" xsi:type="object">Estdevs\Erply\Command\Product</item>
                <item name="estdevs_erply_customer" xsi:type="object">Estdevs\Erply\Command\Customer</item>
            </argument>
        </arguments>
    </type>
</config>
